
    <div id="top-image" class="top-image1">
        <div class="container">
            <div id="top-image-caption">
                <h2>Blog</h2>
            </div>
        </div>
    </div>



    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="isotope posts">
                  <% @posts.each do |post| %>
                    <div class="isotope-item post span6">
                        <div class="row">
                            <div class="span3">
                                <div class="thumbnail post-media">
                                     <%= image_tag post.picture_url(:mega_thumb) %>

                                    <div class="thumbnail-hover">
                                        <a href="images/pop-up.png"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="span3">
                                <div class="post-content">
                                    <div class="post-title">
                                        <h3><i class="icon-camera post-title-icon"></i><%= post.title %></h3>
                                    </div>

                                    <div class="post-info clearfix">
                                        <div class="post-date">
                                            <i class="icon-calendar"></i>
                                            <p><%= post.created_at.strftime("%d de %m de %Y") %></p>
                                        </div>

                                        <div class="post-category">
                                            <i class="icon-pencil"></i>
                                            <a href="#"><%= post.author %></a>
                                        </div>

                                        <div class="post-comments">
                                            <i class="icon-comments"></i>
                                            <a href="#">(<%= post.post_comments.all.size %>)</a>
                                        </div>
                                    </div>

                                    <div style="clear: both"></div>

                                    <div class="post-excerpt">
                                        <p>
                                            <%= truncate(post.excerpt) %>
                                        </p>
                                    </div>

                                    <div class="stylish-button">
                                        <%= link_to 'Leia mais..', post, :class => "post_link cmsms_more" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>

                </div>
            </div>

            <div class="load-more">
                <div class="stylish-button">
                    <a href="javascript:;" class="load-more-button"><i class="icon-rotate-right"></i>Carregar mais</a>
                </div>
            </div>
        </div>
    </div>

