   <div id="top-image" class="top-image1">
        <div class="container">
            <div id="top-image-caption">
                <h2><%= @post.title %></h2>
            </div>
        </div>
    </div>



    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="span9 single-post fadeLeft">
                    <div class="post-title">
                        <h3><i class="icon-camera post-title-icon"></i><%= @post.title %></h3>
                    </div>

                    <div class="post-info clearfix">
                        <div class="post-date">
                            <i class="icon-calendar"></i>
                            <p><%= @post.created_at.strftime("%d de 
                            %m de %Y") %></p>
                        </div>

                        <div class="post-author-name">
                            <i class="icon-user"></i>
                            <a href="#"><%= @post.author %></a>
                        </div>

                        <div class="post-category">
                            <i class="icon-pencil"></i>
                            <a href="#"><%= @post.category.name %></a>
                        </div>

                        <div class="post-comments">
                            <i class="icon-comments"></i>
                            <a href="#">(<%= @post.post_comments.all.size %>)</a>
                        </div>
                    </div>

                    <div class="big-image thumbnail">
                        <%= image_tag @post.picture_url(:banner_thumb) %>

                        <div class="thumbnail-hover">
                            <a href="images/pop-up.png"></a>
                        </div>
                    </div>

                    <div class="post-content">


                        <h3><%= @post.title %></h3>

                        <p>
                            <%= @post.excerpt %>
                        </p>



                        <div class="quote">
                            <div class="quote-icon">
                                <i class="icon-quote-left"></i>
                            </div>

                            <div class="quote-text">
                                <p>
                                    
                                </p>
                            </div>
                        </div>

                        <p>
                        <%= @post.excerpt %>
                        </p>

                        <p>
                            
                            <%= @post.content %>

                        </p>



                        <div class="post-list">

                        </div>


                    </div>

                    <div class="stylish-light-separator"></div>

                    <div class="post-author media clearfix">
                        <div class="post-author-image pull-left">
                            <!--<img src="images/author-image.png" width="90" alt="author image" />-->
                        </div>

                        <div class="post-author-info media-body">
                            <h4><%= @post.author %></h4>
                        </div>
                    </div>

                    <div class="stylish-light-separator"></div>

                    <div class="post-comments">
                        <div class="comments-number">
                            <h4>(<%= @post.post_comments.all.size %>) Comentários</h4>



                            <ul class="comments unstyled">
                               <% @post.post_comments.all.each do |comment| %>
                                <li>
                                    <div class="comment clearfix">
                                        <div class="comment-author-image">
                                            <%= image_tag avatar_url(comment) %>
                                        </div>

                                        <div class="comment-content">
                                            <h5><%= comment.user_name %> disse:</h5>

                                            <p class="comment-date"><%= comment.created_at.strftime("%d de 
                            %m de %Y") %></p>

                                            <p>
                                             <%= comment.body %>
                                            </p>
                                        </div>

                                       
                                    </div>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>

                    <%= render 'post_comments/form' %>
                </div>

                <div class="span3 sidebar row fadeRight">
                    <div class="blog-categories-widget widget">
                        <h5>Categorias</h5>

                        <div class="dotted-separator"></div>
                        <% cat = Category.all  %>
                        <% cat.each  do |c| %>
                        <div class="blog-category">
                            <i class="icon-angle-right"></i>
                            <p><%= c.name %></p>
                        
                        </div>
                        <div class="dotted-separator"></div>
                        <% end %>
                        <div class="dotted-separator"></div>

                    </div>


                </div>
            </div>
        </div>
    </div>



